@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply font-normal text-lg;
  min-height: 100vh;
}

::-moz-selection { background-color: #000000; 
  color: #ffffff; } 
  ::selection { background-color: #000000; 
  color: #ffffff; }

  @media (max-width: 785px) {
    ::selection {
      background-color: white;
      color: black;
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }

textarea:focus, input:focus{
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centered {
  display: flex;
  align-items: center;
}